# IntelliJ IDEA modules and interim config files.
*.iml
.idea/libraries
.idea/shelf
.idea/*.xml

# Do not ignore code style settings.
!/.idea/codeStyleSettings.xml

# Gradle interim configs
.gradle/*

# Maven deployment build directory
/core-java/target

# Generated source code
*/generated/*

# Gradle build files
build/*
*/build/*

# Login details to Maven repository.
# Each workstation should have developer's login defined in this file.
credentials.properties

#
# The gradle.properties file should contain settings specific to a developer's workstation.
#
# See sample file for a Mac OS X workstation below.
# -------
# # Set Java home to point to JDK7. This is need to generate classes working with Java7 API.
# # Otherwise the following warning appears during the build:
# #     warning: [options] bootstrap class path not set in conjunction with -source 1.7
# #
# # suppress inspection "UnusedProperty"
# org.gradle.java.home=/Library/Java/JavaVirtualMachines/jdk1.7.0_80.jdk/Contents/Home/
# -------
gradle.properties
