target
.classpath
.project
.settings
.externalToolBuilders
*.ipr
*.iml
*iws
.idea/artifacts
.idea/dictionaries
.idea/libraries
.idea/scopes
.idea/*.xml
.idea/.name
app-dev_en.js
app-dev_ru.js
i18n.js
style.css
/rebuild.txt
/selenium.test/pom.xml
email/velocity.log
infr.gdata/WEB-INF/appengine-generated/datastore-indexes-auto.xml
infr.gdata/WEB-INF/appengine-generated/local_db.bin
*/WEB-INF/appengine-web.xml
*/WEB-INF/pages/index.jsp
webapp/src/main/webapp/static/build
*/src/generated