language: java

# To increase the memory size available during Travis build.
sudo: required

env:
  global:
    # Encrypted `CODACY_PROJECT_TOKEN` variable according to:
    # https://docs.travis-ci.com/user/environment-variables/#Encrypting-environment-variables
    - secure: "YJ4MNupH5OvZS0x5aIbgO39pmjx6d/KtlvezELp1k7YlhpOC36r6VFqe8tjBFUutGcv/CkrOarj/CnDCrLqaLs/5DXtD5hPJprgW7O1+Bgs3H0zdOwRmt91DsNfvLZXQGtpv5lw2aumgZ4u1cP7F8QOuaEZqyMyoaN3Rq1gJNss1gxnaZr/EyYVhOg9S9cZB3PdoF635Zvm/0hc4wLTZGtfyV6ZY1RFkOG2/wDrlcSIIld1hm7lr253TigZMPGL+Z74dm+J5+07OQwIyIOa93GwbUwelXjlCKRxBPuBBRldDszK8y4CW9segUzKVgE3gWPeS37rt/2ioTvV9qNk4s64sgvt7kyK8Nd/zfupU0jRrU2G2ryDVMIbepY4nBKEmAbwZT6l5ajLgPnjB+NnyG8vM3e5gw7rmH3cG4Ift0HrUgedjzLIqxOQgGeT6NCIE1rG5/S+GaWBiwT8IJ+YUWCkQYIhdxElJv/V/oknsZX8t40F+gHCXWFGi9fiT97+L5EAfgy729VzLkgJzyJqi8K56Vhj8RtTEXxW6H+kDp/yuI10NWpoIvpNKIci/FDnXmCWjMj9PUkLctRKqpoE9kLWoF9oqYVMT7Z248sfYuy66ZDwaMMWPH/BjacTjAJ2EaCrUkuMHpp4Ys0AIIE6Mj7BYj0oszVXbPgVMDs5RsSI="
    # Encrypted `GCS_SECRET` variable.
    - secure: "i/Kdj+APEvQPULnFU05hYJp1AG+NYS10XapkrGP4S/uXcfFyGAdjyH/BzPoSsg1wvhtySLD0OS1hDoHiJ1wYsqHskkQZDodu29HcTxpMi1qbKqWly6E73eKDr5tMBfFTOMQDAzKbp5T1/NxMtV7T4Dhoam0EdbdHj6ui5B53SVPF12H7fnmVZurpFWvGwS75O6N2GJMOsyK8tLa2SqMNvYTWHQL5CgnOX5yszAm1/WVCmxvIygHvvQ0J4DYg2KGjePSYKTPyN+MCK4rxKZnzy4x+bUOhks+lDFuyAKQbY57cA6hkUkB+pXePPtZr0rAHamaAdKZiBaJ0S1FtZKdUuC6FP1fAxsOgoNsuyYdcFqekDIw595F7p1TVDsjOtWVTeAHxAIWqC1pweUnRuAMzy/5JVGb3Vmdgiq1okL6owiy+d93DVAW/47+HUaQL09gnd4TlnJvC54gfexchQJwLmX+yEFTKgDvwqhQcCpkZoIZhAeNz3E5okGtTNhvlVJ0+jKuHYpx17yrvC0Y45LGKBdgttfGL/9GOjpfk4TeCo6o1VqlCzv0j2y0K3gkTM7su6PGFkkQ20UPfjTNvlcvEHHYWtgGVaRgAmPyjKRQrHyTMPmbHFMDGMWUT+eWX+q4u3qz+OCGqSLW6opfhHd4pYQ8/5MGqliblLMlqHVAKVG4="
    # Encrypted `GITHUB_TOKEN` variable. The token belongs to armiol.
    - secure: "TNiHyUEWpTkEbmx5WIf24V4nn8JF9SotJY5Ydef5eHulubci466sQmUGaljYcAgKcwaYKnFU+MQlfU0OoDsl64JZ7KXqxEZD5Ye8MHLw5zKe3MI8Ol7NYB5E7HYzP1lwQnwXNQ72YqICI4Yx9hsmT9y277C0exoq5yuh9Ej25gKVjsLrxkX/B3Vezxwq+jPfr8tf9CpaUT/YYz96MtpJNETEIQzmkTMBOIEkc+sS0MTNQDI7wBYT7HZZYSPFXUaWP3thkFNKlEYW8mo59zd3yTOk1Oq17g5GTsxj1NYPuJrcWSRApZB0zSUrMuz7IWEw4zWBaBKtHGPzta251KDTjfweDB1KzP+gD15WnyaBWzjpulPB2i/WNefDOmLsE912X7fb4gOMJi/OoXfaV8LMmu3lRBr+pDgZM2hC3QLKgIlQpe1KNqOUm3nVEElTBGDHGLQWwcs1SjoRaVkcwFJ3RlOfHqBvIUwDERtt4HZrWONWAwlCiZljGNCCwBLKfi8hjeM+/yBL6u9wCUKs7C8cBg104pFkMGGledjRHIm/xnfP2GUdkG1RAHJTPStx4EEUZWF94uiUhEri3Mxnrx0hDHuqBDZD4aTU6R436BVeoRYi6xK9Rx+wbZmKMh+t2bGTyBdoO0Nv3c9bzGiyI9XlbXQDhPt1NBTU7oV1Ou3D7Pk="
    # This email is used as a commit author email when updating the Javadoc hosted on GitHub Pages.
    # See `scripts/update-gh-pages.gradle`
    - FORMAL_GIT_HUB_PAGES_AUTHOR: "spine-developers@teamdev.com"

before_install:
  - chmod +x gradlew
  - chmod +x scripts/add-to-ssh.sh
  # Decrypt and un-archive Maven and Google Cloud credentials and an RSA private key (deploy_key_rsa).
  - openssl aes-256-cbc -K $encrypted_5d9fa945eb8f_key -iv $encrypted_5d9fa945eb8f_iv -in credentials.tar.enc -out credentials.tar -d
  - tar xvf credentials.tar
  - chmod 600 deploy_key_rsa

script:
  - ./gradlew check --debug

  # The publishing script should be executed in `script` section in order to
  # fail the Travis build if execution of this script is failed.
  - chmod +x ./scripts/publish.sh
  - ./scripts/publish.sh

after_success:
  # See: https://github.com/codecov/example-java/blob/master/.travis.yml
  - bash <(curl -s https://codecov.io/bash)
  - chmod +x ./scripts/report-coverage.sh
  - ./scripts/report-coverage.sh
  - |
    if [[ $TRAVIS_BRANCH == master ]] && [[ $TRAVIS_PULL_REQUEST == false ]]; then
      chmod +x ./scripts/dependent-repositories/update-dependent-repositories.sh
      ./scripts/dependent-repositories/update-dependent-repositories.sh $GITHUB_TOKEN
    fi

after_script:
  - chmod +x ./scripts/upload-artifacts.sh
  - ./scripts/upload-artifacts.sh
