# Ensures that the current lib version is not yet published but executing the Gradle
# `checkVersionIncrement` task.

name: Check version increment

on:
  push:
    branches:
      - '**'

jobs:
  build:
    name: Check version increment
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: zulu
          cache: gradle

      - name: Check version is not yet published
        shell: bash
        run: ./gradlew checkVersionIncrement --stacktrace
